.container {
  overflow: hidden;
  position: relative;
  /* the container's height will determine the height of its slider  */
  height: 350px;
}

.collapsible__content {
  /* complete liquid height based on the parent's height!! */
  height: 100%;

  /* only transition on transform properties which are hardware accelerated = way better performances */
  -webkit-transition:-webkit-transform .8s ease;
  -moz-transition: -moz-transform .8s ease;
  -ms-transition: -ms-transform .8s ease;
  transition: transform .8s ease;
}

.collapsible__content.opened {
  /* visible */
  -webkit-transform: translate(0, 0%);
  -moz-transform: translate(0, 0%);
  -ms-transform: translate(0, 0%);
  transform: translate(0, 0%);
}

.collapsible__content.closed {
  /* completely offscreen */
  -webkit-transform: translate(0, -100%);
  -moz-transform: translate(0, -100%);
  -ms-transform: translate(0, -100%);
  transform: translate(0, -100%);
}