.container {
  width: 100%;
}
.container .form .bankAccountRequired {
  color: #cb2431;
  font-weight: 600;
  font-size: 14px;
  display: block;
  text-align: center;
}

.container .header {
  text-align: center;
  font-weight: 600;
}
.container h1 {
  font-weight: 600;
}


.container .inputContainer {
  padding-top: 10px;
}
.container .inputContainer .form-control {
  width: 92%;
}

.banks .inputContainer .ibanWrapper .group span {
  float: right;
  position: relative;
  top: -30px;
  left: -4%;
  cursor: pointer;
}

.container .inputContainer label {
  margin-bottom: 0;
}
.container .inputContainer .text-danger {
  color: #cb2431;
  font-weight: 600;
  font-size: 12px;
}

.container .buttonContainer {
  width: 100%;
  text-align: center;
  margin-top: 15px;
}

.container .buttonContainer button {
  display: block;
}

.container .buttonContainer .bankAccount {
  width: 92%;
  margin-bottom: 10px;
}

.container .buttonContainer .submit {
  width: 92%;
}

/*cell phone device*/
@media (min-width: 768px) {
  .container .buttonContainer .bankAccount {
    position: relative;
    top: 30px;
    left: 40%;
    width: auto;
  }

  .container .buttonContainer .submit {
    position: relative;
    top: 50px;
    left: 80%;
    width: auto;
  }
}

/*tablet device*/
@media (min-width: 992px) {
  .container {
    width: 60%;
  }
  .container .buttonContainer .bankAccount {
    left: 32%;
  }

  .container .buttonContainer .submit {
    left: 75%;
  }
}
/*larger screen desktop*/
@media (min-width: 1200px) {
  .container {
    width: 40%;
  }
  .container .buttonContainer .bankAccount {
    left: 32%;
  }

  .container .buttonContainer .submit {
    left: 77%;
  }
}